* {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  position: relative;
  overflow: hidden;
  height: 100vh;
}

#multi,#adder{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.cont{
  align-items: center;
  flex-direction: column;
  border: 2px solid #333;
}

.cont > div{
  flex-shrink: 0;
  width: 100%;
  height: 60px;
  background-color: white;
}

.cont > div + div{
  border-top: 1px solid black;
}

#queue > div + div{
  border-top: none;
  border-bottom: 1px solid black;
}

.cont::-webkit-scrollbar{
  width: 9px;
  border: 1px solid #333;
  background: white;
}

.cont::-webkit-scrollbar-thumb{
  background: #333;
  border-radius: 5px;
}

#queue{
  flex-direction: column-reverse;
}